{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Data Asset Backend API",
    "description": "Backend API for data asset management (POC). Includes validation utilities for asset configuration workflows.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://vscode-internal-29266-beta.beta01.cloud.kavia.ai:3001"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "HealthRoot",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "Healthz",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/validity-check": {
      "post": {
        "tags": [
          "Validation"
        ],
        "operationId": "ValidityCheck",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidityCheckRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidityCheckResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidityCheckResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isValid": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ValidityCheckRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "string",
            "minLength": 1
          }
        }
      }
    }
  }
}